<template>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ blog.id ? 'update' : 'add' }} Blog</p>
                <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" v-model="data.title" type="text" placeholder="Text input">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" v-model="data.message" ></textarea>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click="add">Save</button>
                <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>

<script>
    import store from 'store'
    export default {
        props : {
            blog : {
                type : Object
            }
        },
        data(){
          return {
              data : {
                  id : this.blog.id ? this.blog.id : Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5),
                  title : this.blog.title ? this.blog.title : '',
                  message : this.blog.message ? this.blog.message : ''
              }
          }
        },
        methods : {
            add(){
                if(this.blog.id === undefined){
                    try {
                        const blogs = JSON.parse(store.get('nuxt_blogs'));
                        //console.log(blogs);
                        blogs.push(this.data)
                        store.set('nuxt_blogs', JSON.stringify(blogs))
                    }
                    catch (e){
                        store.set('nuxt_blogs', JSON.stringify([this.data]))
                    }


                }
                else
                {
                    //console.log('update')
                    let blogs = JSON.parse(store.get('nuxt_blogs')) , findIndex = -1;
                    //console.log(blogs);

                    blogs.forEach((item , index) => {
                        if(item.id === this.data.id)
                            findIndex = index;
                    })

                    blogs[findIndex] = this.data
                    //console.log(findIndex)

                    store.set('nuxt_blogs', JSON.stringify(blogs));

                }

                this.$emit('added');



            },
            close(){
                this.$emit('close');
            }
        }
    }
</script>

<style scoped>

</style>