<template>
    <div>
        <p class="add-blog">
            <a class="button is-info" @click.prevent="showModal = true; editBlog = {}">Add Blog</a>
        </p>
        <blog-item
                :key="blog.id"
                :index="index"
                :blog="blog"
                @update="update"
                @remove="remove" v-for="(blog , index) in blogs"></blog-item>
        <add-blog-modal @close="showModal = false" @added="added" v-if="showModal" :blog="editBlog" />
    </div>
</template>

<script>
    import store from 'store'
    import blogItem from './blog-item'
    import addBlogModal from './add-blog'
    export default {
        components : {
            blogItem,
            addBlogModal
        },
        data(){
            return {
                showModal : false,
                blogs : [],
                editBlog  : {},
            }
        },
        methods : {
          fetchBlogs(){
              try {
                  const blogs = JSON.parse(store.get('nuxt_blogs'));
                  //console.log(blogs)
                  this.blogs = blogs;
              }
              catch (e){
                  store.set('nuxt_blogs', JSON.stringify([]))
              }
          },
            added(){
              this.fetchBlogs();
                this.editBlog = {};
              this.showModal = false;
            },
            update(index){
              this.editBlog = JSON.parse(JSON.stringify(this.blogs[index]));
              this.showModal = true;
            },
            remove(index)
            {
                this.blogs.splice(index , 1);
                store.set('nuxt_blogs', JSON.stringify(this.blogs))
            }
        },
        created(){
            setTimeout(this.fetchBlogs , 100)
            //this.fetchBlogs();
        }
    }
</script>

<style scoped>
    .add-blog{
        text-align: right;
        margin-bottom: 25px;
    }
</style>