<template>
    <article class="message">
        <div class="message-body">

            <div class="blog-title">
            {{ blog.title }}
            </div>
            <div class="blog-actions">
                <nuxt-link :to="`/blog/${blog.id}`" class="button is-primary is-small">view</nuxt-link>
                <button class="button is-link is-small" @click="update">update</button>
                <button class="button is-danger is-small" @click="remove">remove</button>
            </div>

<!--<span>Hi</span>-->


        </div>
    </article>
</template>

<script>
    export default {
        props : {
            blog : {
                type : Object,
                required : true
            },
            index : {
                required : true
            }
        },
        methods : {
            remove(){
                //console.log('remove : ' , this.index)
                this.$emit('remove' , this.index)
            },
            update(){
                this.$emit('update' , this.index);
            }
        }
    }
</script>

<style scoped>
    .blog-title {
        display: inline-block;
        width: 77%;
    }

    .blog-actions {
        display: inline-block;
        width: 20%;
    }
</style>