<template>
    <article class="message">
        <div class="message-header">
            <p>{{ blog.title }}</p>
        </div>
        <div class="message-body">
            {{ blog.message }}
        </div>
    </article>
</template>

<script>
    export default {
        props : {
            blog : {
                type : Object,
                required : true
            }
        }
    }
</script>

<style scoped>

</style>