<template>
    <div>
        <p class="back-blog">
            <nuxt-link to="/" class="button is-info">Back to Blogs</nuxt-link>
        </p>
        <singe-blog :blog="blog" v-if="blog.id !== undefined" />
        <p v-else>No blog found</p>
    </div>
</template>

<script>
    import singeBlog from '../../components/single-blog'
    import store from 'store'
    export default {
        components : {
            singeBlog
        },
        data(){
          return {
              blog : {}
          }
        },

        created(){
            const params = this.$router.history.current.params
            //console.log(params);

            if(params.id){
                try {
                    const blogs = JSON.parse(store.get('nuxt_blogs'));

                    //console.log(blogs);
                   this.blog = blogs.find(item => item.id === params.id);
                  // console.log(this.blog);
                }
                catch (e){
                    this.blog = {}
                }
            }
        }
    }
</script>

<style scoped>
.back-blog {
    text-align: right;
    margin-bottom: 25px;
}
</style>